@model RicksWebWorld.ViewModels.PostMailViewModel
@{
	ViewData["Title"] = "SinglePost";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<section class="about-content">
	<div class="container">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<h1>@Model.Title</h1>
					<img class="single-post-thumbnail" src="~/images/blog/@Model.PostImage" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						@Model.Content
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="contact-sidebar">
				<h2>Contact us</h2>
				<form asp-action="SendContactMailAsync" asp-controller="Mail">
					<input asp-for="FullName" placeholder="Name" class="aboutusinput" />
					<span asp-validation-for="FullName" class="text-danger"></span>

					<input asp-for="Email" placeholder="E-mail" class="aboutusinput" />
					<span asp-validation-for="Email" class="text-danger"></span>

					<textarea asp-for="Details" class="aboutustextarea" placeholder="Message"></textarea>
					<span asp-validation-for="Details" class="text-danger"></span>
					<button type="submit" class="btn btn-primary btn-login">Send</button>
				</form>
			</div>
		</div>
	</div>

</section>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}