@{
	ViewBag.Title = "HomePage";
}

<section class="section_banner">
	<div class="banner_slider">
		<div class="page_banner Aligner" style="background-image: url('/images/banner_home2.jpg');">
			<div class="container">
				<div class="col-md-6">
					<h1 class="header">RicksWebWorld</h1>
					<p class="header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan vitae risus feugiat egestas. Nam leo purus, elementum viverra eros sed, fermentum euismod sem. Etiam lacinia eu turpis sit amet finibus. Donec sodales erat nulla, sit amet finibus neque vestibulum at. Quisque pulvinar dui et leo accumsan, eget vehicula massa mollis.</p>
					<a href="#" class="bannerbtn" title="Lees meer">Lees meer</a> <a href="#" class="bannerbtn" title="Lees meer">Lees meer</a>
				</div>
				<div class="col-md-6">

				</div>
			</div>
		</div>
	</div>
</section>

<section class="product_categories">
	<h2>The E-mailaddress has been confirmed! </h2>
	<p>You can now login via our <a asp-action="Login" asp-controller="User">Login page</a></p>
</section>

<section class="blog-footer">
	<div class="container">
		<h2 class="blog-footer">Latest news in the gaming industry</h2>
		<p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan vitae risus feugiat egestas.</p>
		<div class="row">
			<div class="col-md-4">
				<img src="~/images/blog/DK.jpg" />
				<h3>New Release: Donkey Kong Country: Tropical Freeze</h3>
				<p class="blog-description">Donkey Kong: Tropical Freeze is as impressive now as it was back in 2014. Displaying gorgeous visuals, fantastic level design and a steep difficulty curve that seasoned players will appreciate, it's a game that fully deserves a spot in your Switch collection. </p>
				<p class="written-on">Written on 08-05-2018</p>
			</div>
			<div class="col-md-4">
				<img src="~/images/blog/POTG.jpg" />
				<h3>Overwatch players are earning PoTG for killing robot</h3>
				<p class="blog-description">Ahh, Venice. The beautiful canal city recently made its way to Overwatch in the form of Rialto, a new Escort map. Like the Venice of the real world, Rialto's canals are filled with gondolas piloted by lovely striped-shirted gondoliers, though in Rialto's case, the gondoliers are all omnics—the sentient robots of Overwatch's world. </p>
				<p class="written-on">Written on 08-05-2018</p>
			</div>
			<div class="col-md-4">
				<img src="~/images/blog/GoW.jpg" />
				<h3>New Release: God of War PS4</h3>
				<p class="blog-description">God of War takes everything good about the franchise and elevates it. Almost every aspect is polished to a fine sheen, with a particular standout being the world itself, and the new emphasis on telling a mature and meaningful story that explores remarkably complex themes. If you have a PS4, this is a must have title. </p>
				<p class="written-on">Written on 08-05-2018</p>
			</div>
		</div>
	</div>
</section>

