@{
	ViewData["Title"] = "CreateNewUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RicksWebWorld.ViewModels.PasswordResetViewModel

<div class="container">
	<div class="wrapper">
		<div class="form-signin">
			<h3 class="form-signin-heading">Forgot your password?</h3>
			<hr class="colorgraph"><br>
			<form asp-controller="Mail" asp-action="SendResetPasswordMail" method="post">
				<label>E-mailaddress</label>
				<input type="text" asp-for="Email" placeholder="Email" class="input-login" />
				<span asp-validation-for="Email" class="text-danger"></span>
				<button type="submit" class="btn btn-primary btn-login">Send reset mail</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}